html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    margin: 10rem;

}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    height: 99rem;
}

.imgRandom {
    height: 30rem;
    width: 30rem;
}

img {
    width: 20rem;
    height: 20rem;
}
.picture {
    max-width: 10rem;
    max-height: 10rem; 
}


.search {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#random {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    display: block;
}

.imgRandom {
    border-style: solid;
}

.gridBox {
    width: 80rem;
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.generator {
    height: 100%;
    object-fit: cover;
}

#uno {
    grid-column: 1/2 ;
    grid-row: 1/2;
    
}
#dos {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
}
#tres {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: white;
}
#cuatro {
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: white;
}
#cinco {
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: white;
}
#seis {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
}
#siete {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
}
#ocho {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
}
#nueve {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: white;
}
#diez {
    grid-column: 5/6;
    grid-row: 2/3;
    background-color: white;
}
#once {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
}
#doce {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
}
#trece {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: white;
}
#catorce {
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: white;
}
#quince {
    grid-column: 5/6;
    grid-row: 3/4;
    background-color: white;
}
#dieciseis {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: white;
}
#diecisiete {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: white;
}
#dieciocho {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: white;
}
#diecinueve {
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: white;
}
#veite {
    grid-column: 5/6;
    grid-row: 4/5;
    background-color: white;
}

