html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background-image: url('./dogFood.png');
    background-size: cover;
    height: 20rem;
    letter-spacing: 2rem;
    margin-bottom: 10rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.mainPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-left: 20rem;
    margin-right: 10rem;
}

img {
    width: 20rem;
    height: 20rem;
    border-style: solid;
    border-color: black;
}

#random, #clearData {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    display: block;
    box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
}

#random:active, #clearData:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.gridBox {
    width: 100rem;
    height: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-right: 20rem;
}

.graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    max-height: 100rem;
    margin: 10rem 0rem 0rem 30rem;
}